/********** Typography **********/
h1 {
    font-family: "Montserrat";
    font-size: 2.4em;
}

h2 {
    font-family: "Montserrat";
    font-size: 1.5em;
    font-weight: 500;
    line-height: 12px;
}


p {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 28px;
}

a {
    color: black;
}


/********** Page styling **********/
body {
    background-color: #FFF8F0;
    color: black;
    width: 700px;
    margin: auto auto 80px auto;
}

img {
    margin: 20px 0;
}
